<!doctype html>
<html lang="en">
<head>
    <title>Título</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Arkitec</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/registro">Registro</a>
            <a class="nav-item nav-link" href="/productos">Productos</a>
            <a class="nav-item nav-link" href="/cotizacion">Cotización</a>
            <a class="nav-item nav-link" href="/contratacion">Contratación</a>
            <a class="nav-item nav-link" href="/contactanos">Contáctanos</a>
            <a class="nav-item nav-link" href="/admin/login">Admin/Login</a>
        </div>
    </nav>

    <div class="container">
        <!-- Contenido de tu página va aquí -->
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper.js and Bootstrap JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
</body>
</html>

    
    