{% include 'sitio/cabecera.html' %}


<div class="container">
    
    <h2>Nuestros Productos</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/2024202554_cocina-scavolini.png" alt="Cocina Scavolini">
                <div class="card-body">
                    <h4 class="card-title">Cocinas</h4>
                    <p class="card-text">Descripción de las cocinas</p>
                    <a href="#" class="btn btn-primary">Ver más</a> <!-- Ejemplo de botón de "Ver más" -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/dormitorio1.png" alt="Dormitorio">
                <div class="card-body">
                    <h4 class="card-title">Dormitorios</h4>
                    <p class="card-text">Descripción de los dormitorios</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/Baño.negro.png" alt="Baño Negro">
                <div class="card-body">
                    <h4 class="card-title">Baños</h4>
                    <p class="card-text">Descripción de los baños</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/oficina.png" alt="Oficina">
                <div class="card-body">
                    <h4 class="card-title">Oficinas y Salas</h4>
                    <p class="card-text">Descripción de oficinas y salas</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'sitio/pie.html' %}
