/* login.css */

/* Estilos para el contenedor del formulario */
.login-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #882424;
    border-radius: 5px;
    background-color: #a03131;
  }
  
  /* Estilos para los campos de entrada */
  .login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ca2f2f;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón de inicio de sesión */
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  